<!-- <div class="container">
  <div class="row">
    <div class="col-lg-2">
      <app-side-navigation></app-side-navigation>
     
    </div>
    <div class="col-lg-10">
      <app-header-bar></app-header-bar>
    </div>
    </div>
</div> -->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>John's Blog</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">Friends</a></li>
        <li><a href="#section3">Family</a></li>
        <li><a href="#section3">Photos</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      <h4 style="text-align: center;" class="header-sty"><small>Claims Management System</small></h4>
      <div class="row">
        <div class="col-lg-2">
          <label for="policy_date">Policy Effective Date</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="policy_date">
        </div>
        <div class="col-lg-2">
          <label for="policy_date">Claim Submmited By</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="policy_date">
        </div>
        <div class="col-lg-2">
          <label for="policy_date"> Claim Submmited Date</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="policy_date">
        </div>
        <div class="col-lg-2">
          <label for="">Policy No</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Policy No</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Policy No</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>

      </div>
      <hr>
      <button class="btn btn-primary tab  active" [ngClass]="{ 'active':activeTab==='claim'}" (click)="claim('claim')">Claimant Details</button> 
      <button class="btn btn-primary tab" [ngClass]="{ 'active':activeTab==='patient'}" (click)="patient('patient')">Claimant Details</button>
      <button class="btn btn-primary tab" [ngClass]="{ 'active':activeTab==='health'}" (click)="health('health')">Claimant Details</button>
      <div class="row" *ngIf="activeTab==='claim'">
        <div class="col-lg-12">
        <h4 style="text-align: left;width:100%;" class="header-sty"><small>Employee/caregiver Details</small></h4>
      </div>
        <div class="col-lg-2">
          <label for="">First Name</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">MI</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Last Name</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">SSN No</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">DOB</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Gender</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Marrital Status</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Work State</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Contact No</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Email Add</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Address</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">City</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">State</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Zip Code</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Employee Id</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Employer Name</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Control No</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">State</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Job Category</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Job Title</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Division/Locality/Dept</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">No Of Months In Service</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
        <div class="col-lg-2">
          <label for="">Hours Of Service</label>
        </div>
        <div class="col-lg-2">
          <input type="text" name="">
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>